@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

body {
    background-color: var(--grey-900);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: "Inter";
    margin: 30px;
}

.card {
    background-color: var(--grey-800);
    border-radius: 15px;
    padding: 30px;
    max-width: 400px; /* Adjust as needed */
    width: 100%; /* Full width up to max-width */
}

.card .avatar img {
    border-radius: 50%;
    width: 100px;
}

.avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add spacing if needed */
}

.card h1 {
    text-align: center;
    color: var(--white);
    margin: 0;
    padding: 30px 0 0;
    font-size: 25px;
}

span {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px;
    font-size: 14px;
    color: var(--white);
}

.london {
    color: var(--green);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 30px;
}

ul {
    width: 100%;
    list-style: none;
    margin-top: 30px;
    padding: 0;
}

ul li {
    width: 100%;
    margin-bottom: 30px;
}

ul li a {
    display: block;
    padding: 20px;
    background-color: var(--grey-700);
    border-radius: 10px;
    text-decoration: none;
    color: var(--white);
    transition: background-color 0.3s ease;
}

ul li a:hover,
ul li a:focus {
    background-color: var(--green);
}
